* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

p {
    color: rgb(236, 85, 110);
    font-size: 1.2rem;
    font-weight: 800 ;
}

#bg-img {
    position: absolute;
    background-position: center center;
    background-attachment: fixed;
    background-image: url('Rock-paper-scissors.svg.png'), linear-gradient(30deg, rgb(172, 45, 45), rgb(0, 128, 0));
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.2;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

#modal {
    position: fixed;
    top: 20%;
    right: 20%;
    bottom: 20%;
    left: 20%;
    background-color: rgba(0, 0, 0, 0);
    display: none;
}

#content {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    background-color: rgb(255, 255, 255);
}

#close {
    float: right;
    font-weight: bold;
    background: transparent;
    border: none;
    position: absolute;
    right: 2vh;
    top: 1vh;
    z-index: 7;
    color: black;
}

#game {
    text-align: center;
}

#name-move {
    padding: 3%;
}

#ok-btn {
    padding: 1%;
    width: 6%;
}

#input {
    width: 9%;
    padding: 1%;
}

#playAgainBtn {
    padding: 1%;
    z-index: 1;
    display: none;
}

/*
-instead of entering your move, select an image out of Rock, Paper or Scissors 
✔-check if the username is valid eg no numbers or exceeding certain characters length
✔-announce winner after each game
-how to play button showing how to play
✔-scoring
-getting inputs on a modal
-display winner behind the modal so the main background is not all blank and boring
-add a game restart button
*/